In [2]:
string = 'deepak'
mylist = []

In [3]:
for i in string:
    mylist.append(i)

In [4]:
mylist

['d','e','e','p','a','k']

The above task can be done in a single line using list comprehension

In [5]:
mylist = [letter for letter in string]

In [6]:
mylist

['s', 'o', 'm', 'e', 't', 'h', 'i', 'n', 'g']

Now lets create a list of squares of first 10 natural numbers

In [7]:
mylist = [x ** 2 for x in range(1,11)]

In [8]:
mylist

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

This time we are going to create a list of all the even numbers between 20 and 200.

In [9]:
mylist = [x for x in range(20,201) if x%2 == 0]

In [10]:
mylist

[20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100,
 102,
 104,
 106,
 108,
 110,
 112,
 114,
 116,
 118,
 120,
 122,
 124,
 126,
 128,
 130,
 132,
 134,
 136,
 138,
 140,
 142,
 144,
 146,
 148,
 150,
 152,
 154,
 156,
 158,
 160,
 162,
 164,
 166,
 168,
 170,
 172,
 174,
 176,
 178,
 180,
 182,
 184,
 186,
 188,
 190,
 192,
 194,
 196,
 198,
 200]

Create a list squaring all the even numbers and adding 1 to all odd numbers between 1 to 10

In [11]:
mylist = [x ** 2 if x%2 == 0 else x+1 for x in range(1,11)]

In [12]:
mylist

[2, 4, 4, 16, 6, 36, 8, 64, 10, 100]